:root {
  --building-color: #ff9800;
  --house-color: #0288d1;
  --shop-color: #7b1fa2;
  --warehouse-color: #558b2f;
}

/* Fullscreen map layout */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  width: 100%;
}

/* Property (marker) base */
.property {
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  color: #263238;
  display: flex;
  font-size: 14px;
  gap: 10px;
  height: 40px;
  justify-content: center;
  padding: 4px;
  position: relative;
  transition: all 0.3s ease-out;
  width: 40px;
  transform: translateY(-9px);
}

.property::after {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #ffffff;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  top: 95%;
  transform: translate(-50%, 0);
  transition: all 0.3s ease-out;
  width: 0;
}

/* Marker icon */
.property .icon {
  align-items: center;
  display: flex;
  justify-content: center;
}

.property .icon img {
  width: 28px;
  height: 28px;
  /*border-radius: 50%;*/
}

/* Hidden details by default */
.property .details {
  display: none;
  flex-direction: column;
  flex: 1;
}

.property .address {
  color: #9e9e9e;
  font-size: 10px;
  margin-bottom: 6px;
  margin-top: 4px;
}

/* Highlighted marker state */
.property.highlight {
  background-color: #ffffff;
  border-radius: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  height: auto;
  padding: 8px 15px;
  width: auto;
  transform: translateY(-20px);
}

.property.highlight::after {
  border-top: 9px solid #ffffff;
}

.property.highlight .details {
  display: flex;
}

.property.highlight .icon img {
  width: 40px;
  height: 40px;
}
